@import "~bootstrap/scss/bootstrap";

main {
    background-color: rgb(52, 107, 107);
}

.table{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.card {
    width: 90%;
    margin: 0 auto;
}